<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to xpensflo, <%= @user.name %></h1>
    <p>
      your account has been created successfully, Your role on the platform is <%= @user.role %>
    </p>
    <p>
      follow this link to reset your password and log in link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
