<div id="<%= dom_id branch %>">
  
  <p>
    <strong>Name:</strong>
    <span style="font-weight: bold;"><%= branch.name %></span>
  </p>

  <p>
    <strong>Location:</strong>
    <span style="font-weight: bold;"><%= branch.location %></span>
  </p>

</div>
